@import "assets/scss/styles";

  .back-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 16px;
    color: black;
    font-family: open-sans-bold;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 141px;
    right: 95%;

    a {
      color: black;
      text-decoration: none;
      margin-top: -338px;
      margin-right: -49px;
      &:active,
      &:hover,
      &:focus {
        color: black;
      }
    }

    img {
      width: 7px;
    }
  }

.bg-primary {
  background-color: #012148 !important
}

span{
  text-transform: uppercase;
}


.save-btn {
  @include open-sans-regular;
  font-size: 14px;
  line-height: 19px;
  color: $white;
  min-width: 130px;
  text-transform: uppercase;
  height: 40px;

  img {
    margin-right: 10px;
  }
}

.req-error::after {
  content: "*";
  color: #D0021B
}

.err-msg-red {
  color: $red !important;
  font-size: 12px !important;
  margin-left: 3px;
  font-style: italic;
  position: absolute;
  @include open-sans-regular;
  font-weight: normal !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


  .mat-row {
    &:nth-of-type(even) {
      background-color: #e9ecef;
    }
  }

  .mat-header-cell{
    background-color: #e9ecef;
    font-weight: bold;
    color: black;
    font-size: 16px;
  }

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: .25em;
  background: initial;
  background-color: #012148;
  color: #fff;
  font-size: 1.0625em;
}

.new-posts{
  float: right;
  margin-bottom: 10px
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
