/* menubar starts here */

.dropdown-submenu {
	position: relative;
	>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}
	&:hover {
		>.dropdown-menu {
			display: block;
		}
		>a {
			&:after {
				border-left-color: #fff;
			}
		}
	}
	>a {
		&:after {
			display: block;
			content: " ";
			float: right;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			border-width: 5px 0 5px 5px;
			border-left-color: #ccc;
			margin-top: 5px;
			margin-right: -10px;
		}
	}
}
.dropdown {
	&:hover {
		>.dropdown-menu {
			display: block;
		}
	}
}

.ap-menubarSecton{
  background-color: #B1020F;
  color:#FFFFFF;
  height: 44px;;
  .navbar{
    padding-top:5px;
   .navbar-collapse{
     .navbar-nav{
       .nav-item{
        padding:0px 10px 0px 0px;
         .nav-link{
          color:#FFFFFF;
          padding:13px 20px;
          text-transform: uppercase;
         }
         .nav-link:hover{
           background-color: #810000;
         }
       }
       .dropdown-menu {
        position: absolute;
        left: 220px;
        margin-top: 0px;
        border-radius: 0;
        border:none;
        background-color: #b1020f;
        .dropdown-item{
          a{
            color:#FFFFFF;
          }
          &:empty {
            display: none;
          }
        }        
        .dropdown-item:hover, .dropdown-item:focus{
          background-color:#810000;
          color:#FFFFFF;
          transition: all 1s ease;
        }
        .dropdown-submenu{
          .dropdown-item{
            color:#FFFFFF;
            font-family: "Open Sans";
            font-size: 14px;
            letter-spacing: 0;
            line-height: 19px;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          .file-management{
            left: 160px;
            top: -4px;
          }
          a { 
            word-break: break-word;
            white-space: break-spaces;
          }
        }
      }
      .sectionsMains{
        left:397px; 
        width:200px;
        padding-top:0;
        .dropdown-submenu{
          .mainSection{
            left:200px;
            width: 200px;
            padding-top: 0;
          }
          a { 
            word-break: break-word;
            white-space: break-spaces;
          }
        }
      }
      .sectionsMain{
        left:512px;
        width:238px;
        .dropdown-submenu{
          .commonServices{
            left:160px;
          }
          a { 
            word-break: break-word;
            white-space: break-spaces;
          }
        }
      }
      .employeeServices{
        left:693px;
        width:206px;
        .dropdown-submenu{
          .servicesEmployee{
            left:160px;
          }
          a { 
            word-break: break-word;
            white-space: break-spaces;
          }
        }
      }
    }
  }
 }
}

.ap-menubarSecton {
  .navbar {
      .navbar-collapse {
          .navbar-nav {
              .thirdParty {
                  position: absolute;
                  left: 92px;
                  margin-top: 0px;
                  border-radius: 0;
                  border: none;
                  background-color: #B1020F;
                  .mainSection{
                    left: 161px;
                    padding-top: 0px;
                    width: 190px;
                  }
              }
              
          }
      }
  }
}
/* menubar ends here */