// Semantic Color variables
$white: #fff;
$black: #000;
$eqx-black: #181818;
$warm-black: #0a0d10;
$white: #fff;
$button-grey: #b9b9b9;
$button-text-grey: #c2c2c2;
$lightest-grey: #f3f3f3;
$lightgray-border:#CFCFCF;
$lighter-grey: #DFE2E6; //placeholder color of input fields
$light-grey: #777;
$text-grey: #5e7383;
$cool-grey: #7e8891;
$dark-grey: #808080;
$label-grey: #E6E8ED;
$status-grey: #E6E6FF;
$background-grey: #f4f5f8;
$box-grey: #ddd;
$border-color: #e6eaeb;
$noshow-grey: #e6e6e6;
$username-grey: #8b8b8b;
$red: #f00;
$alert-red: #ef0703;
$success-green: #00b200;
$warning-yellow: #ffcd19;
$transparent-black: rgba(0, 0, 0, 0.1);
$form-control-grey: #9facb7;
$light-blue: #9dd2fb;
$cornflower-blue: #57a4d8;
$copyright: #8992CA;
// $main-color:#4651A3; //Brand color
$main-color:#012148; //Brand color
$menus-color:#67758D;
$border-color:#012148;
$table-success:#5B9C17;
$role-tab-color:#DCD7D7;
$yellow-brand:#F8B849;
$verticle-tab-color: #C7C7C7;
$verticle-bg:#D8D8D8;
$table-border:#979797;
$dark-heading:#3C3C3C;
$card-para:rgba($main-color,.8);
//APRROVE BUTTONS COLORS
$approve-btn:#00C800;
$reject-btn:#D20000;
$pending-btn:#F8B849;
$rework-btn:#F8B849;
$not-submitted:rgba($black,.5);
$open:#FF4F00;
//APPROVAL BG COLOR
$approval-input-bg:#F0EDED;
//EXCEL TABLE COLORS
$td-green:#589C17;
//ATTENDANCE PROFILE FORM
$label-color:#494949;
$leave-count:#212529;
$casual:#9FE960;
$paternity:#3ACBE9;
$other:#F8B849;
//CHECKBOX COLOR
$checked-box:#32B66A;
$upload-head:#B2B2B2;
//BODY BACKGROUND COLOR
$body-bg:#F5F5FF;
$pagination-font:#212121;

//DISABLED BACKGROUND COLOR
$disabled-input-bg:#e9ecef;
//CUSTOM NAV VARIABLES
$secondary-color: #B1020F;
$secondary-darkcolor:#8d0009;
$secondary-hover:#810000;
$verticle-border:#ECECED;

//NEW INPUT BACKGROUND COLOR
$search-bg:#C7DEFE;
$thead-bg:#E3EFFE;

$border-color:#292828;
$arrow-color:#E0E0E0;
$arrow-bg:#7A7777;
